<!-- <p>person-view works!</p>
{{recData.name}}
<h1 *ngFor ="let document of  recData.documents;index as i">{{document.document_name}}</h1>



 -->



<div class="">
    <h4>Id : {{recData.id}}</h4>
    <h4>First Name : {{recData.firstname}}</h4>
    <h4>Last Name : {{recData.lastname}}</h4>
    <h4>Email : {{recData.email}}</h4>
    <h4>Phone : {{recData.phone_type}}</h4>
    <h4>Phone : {{recData.phone}}</h4>
    <h4>Address Type : {{recData.house_type}}</h4>
    <h4>House Name : {{recData.house_name}}</h4>
    <h4>Location :{{recData.location}}</h4>
    <h4>LandMark :{{recData.landmark}}</h4>







</div>